
body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: darkblue;
}

.tasks {
    display: flex;
    justify-content: space-around;
}

.task {
    border: 5px #000000 solid;
    border-radius: 10px;
    padding: 1%;
}

/* .col-xs-12 {
    display: flex;
    flex-direction: column;
} */